// component css goes here

.clickable {
    cursor: pointer;
}

.margin {
    margin-bottom: 10px;
}

.root-class {
    color: #428bca;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.active {
    color: #777;
    cursor: auto;
}
